*******************************************************************************
Create a CSV file named "person_data.csv" with 25 entries under the following column headings:
'S.No', 'Name', 'Age', 'Occupation', and 'Education'. 
After creating the CSV file, initiate a Spark session and use it to read the "person_data.csv" file.
*******************************************************************************

In [1]:
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.functions import col, desc

In [4]:
spark = SparkSession.builder.appName('MyApp').getOrCreate()

# Question 1

*******************************************************************************
Question 1: Filtering and Selecting Data

Write PySpark code to perform the following tasks:
-> Create a PySpark DataFrame named df using the provided dataset and schema.
*******************************************************************************

In [5]:
df = spark.read.format('csv').\
    option('inferSchema', 'true').\
    option('header', 'true').\
    option('path', 'person_data.csv').\
    load()

In [6]:
df.show()

+----+--------------------+---+------------------+-------------------+
|S.No|                Name|Age|        Occupation|          Education|
+----+--------------------+---+------------------+-------------------+
|   1|            John Doe| 30|          Engineer|  Bachelor's Degree|
|   2|          Jane Smith| 25|           Teacher|    Master's Degree|
|   3|     Michael Johnson| 35|            Doctor| Doctor of Medicine|
|   4|         Emily Davis| 28|Software Developer|  Bachelor's Degree|
|   5|        David Wilson| 40|        Accountant|  Bachelor's Degree|
|   6|           Susan Lee| 29|  Graphic Designer|  Bachelor's Degree|
|   7|        Robert Brown| 45|            Lawyer|       Juris Doctor|
|   8|         Sarah White| 32| Marketing Manager|  Bachelor's Degree|
|   9|      William Taylor| 27|           Student|High School Diploma|
|  10|        Laura Miller| 38|             Nurse|  Bachelor's Degree|
|  11|Christopher Anderson| 31|         Architect|  Bachelor's Degree|
|  12|       Mary Martinez| 33|        Journalist|  Bachelor's Degree|
|  13|     James Rodriguez| 42| Financial Analyst|  Bachelor's Degree|
|  14|  Patricia Hernandez| 26|        Pharmacist| Doctor of Pharmacy|
|  15|      Matthew Garcia| 36|       Electrician|       Trade School|
|  16|        Linda Walker| 29|              Chef|    Culinary School|
|  17|         Joseph Hall| 39|    Police Officer|     Police Academy|
|  18|         Karen Young| 34|         Librarian|    Master's Degree|
|  19|        Daniel Lewis| 37| Real Estate Agent|  Bachelor's Degree|
|  20|       Ashley Harris| 30|     Social Worker|    Master's Degree|
+----+--------------------+---+------------------+-------------------+
only showing top 20 rows

*******************************************************************************-> Filter the DataFrame to select only the rows where age is greater than or equal to 25.
-> Select only the "name" and "age" columns from the filtered DataFrame.
-> Display the resulting DataFrame.
*******************************************************************************

In [7]:
data_1 = df.select('Name', 'Age').\
filter(col('Age')>=25)

In [8]:
data_1.show()

+--------------------+---+
|                Name|Age|
+--------------------+---+
|            John Doe| 30|
|          Jane Smith| 25|
|     Michael Johnson| 35|
|         Emily Davis| 28|
|        David Wilson| 40|
|           Susan Lee| 29|
|        Robert Brown| 45|
|         Sarah White| 32|
|      William Taylor| 27|
|        Laura Miller| 38|
|Christopher Anderson| 31|
|       Mary Martinez| 33|
|     James Rodriguez| 42|
|  Patricia Hernandez| 26|
|      Matthew Garcia| 36|
|        Linda Walker| 29|
|         Joseph Hall| 39|
|         Karen Young| 34|
|        Daniel Lewis| 37|
|       Ashley Harris| 30|
+--------------------+---+
only showing top 20 rows

# Question 2

*******************************************************************************
Question 2: Aggregating Data
Write PySpark code to perform the following tasks:
-> Calculate the average age of all the individuals in the DataFrame.
*******************************************************************************

In [9]:
data_2 = df.agg({'Age':'Avg'})

*******************************************************************************
-> Calculate the maximum age in the DataFrame.
*******************************************************************************

In [10]:
data_3 = df.agg({'Age':'max'})

*******************************************************************************
-> Calculate the minimum age in the DataFrame.
*******************************************************************************

In [11]:
data_4 = df.agg({'Age':'min'})

*******************************************************************************
-> Display these aggregate results.
*******************************************************************************

In [12]:
data_2.show() ; data_3.show() ; data_4.show()

+--------+
|avg(Age)|
+--------+
|   33.68|
+--------+

+--------+
|max(Age)|
+--------+
|      45|
+--------+

+--------+
|min(Age)|
+--------+
|      25|
+--------+

# Question 3

*******************************************************************************
Question 3: Grouping and Aggregating Data
Write PySpark code to perform the following tasks:
-> Create a new DataFrame by adding a "department" column to the existing DataFrame with values "HR" for id 1 and 2, and "IT" for the rest.
*******************************************************************************

In [13]:
df2 = spark.read.format('csv').\
    option('inferSchema', 'true').\
    option('header', 'true').\
    option('path', 'person_datanew.csv').\
    load()

In [14]:
df2.show()

+----+--------------------+---+------------------+-------------------+----------+
|S.No|                Name|Age|        Occupation|          Education|department|
+----+--------------------+---+------------------+-------------------+----------+
|   1|            John Doe| 30|          Engineer|  Bachelor's Degree|        HR|
|   2|          Jane Smith| 25|           Teacher|    Master's Degree|        HR|
|   3|     Michael Johnson| 35|            Doctor| Doctor of Medicine|        IT|
|   4|         Emily Davis| 28|Software Developer|  Bachelor's Degree|        IT|
|   5|        David Wilson| 40|        Accountant|  Bachelor's Degree|        IT|
|   6|           Susan Lee| 29|  Graphic Designer|  Bachelor's Degree|        IT|
|   7|        Robert Brown| 45|            Lawyer|       Juris Doctor|        IT|
|   8|         Sarah White| 32| Marketing Manager|  Bachelor's Degree|        IT|
|   9|      William Taylor| 27|           Student|High School Diploma|        IT|
|  10|        Laura Miller| 38|             Nurse|  Bachelor's Degree|        IT|
|  11|Christopher Anderson| 31|         Architect|  Bachelor's Degree|        IT|
|  12|       Mary Martinez| 33|        Journalist|  Bachelor's Degree|        IT|
|  13|     James Rodriguez| 42| Financial Analyst|  Bachelor's Degree|        IT|
|  14|  Patricia Hernandez| 26|        Pharmacist| Doctor of Pharmacy|        IT|
|  15|      Matthew Garcia| 36|       Electrician|       Trade School|        IT|
|  16|        Linda Walker| 29|              Chef|    Culinary School|        IT|
|  17|         Joseph Hall| 39|    Police Officer|     Police Academy|        IT|
|  18|         Karen Young| 34|         Librarian|    Master's Degree|        IT|
|  19|        Daniel Lewis| 37| Real Estate Agent|  Bachelor's Degree|        IT|
|  20|       Ashley Harris| 30|     Social Worker|    Master's Degree|        IT|
+----+--------------------+---+------------------+-------------------+----------+
only showing top 20 rows

*******************************************************************************-> Group the new DataFrame by the "department" column.
*******************************************************************************

In [15]:
df2.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|        HR|    2|
|        IT|   23|
+----------+-----+

*******************************************************************************-> Calculate the average age for each department.
*******************************************************************************

In [16]:
data_5 = df2.groupBy('Department').mean('Age')

*******************************************************************************-> Display the resulting DataFrame with department and its corresponding average age.
*******************************************************************************

In [17]:
data_5.show()

+----------+-----------------+
|Department|         avg(Age)|
+----------+-----------------+
|        HR|             27.5|
|        IT|34.21739130434783|
+----------+-----------------+