edited test1.csv to have no null values

In [1]:
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.functions import col, desc

In [4]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
data = spark.read.format('csv').\
    option('inferSchema', 'true').\
    option('header', 'true').\
    option('path', 'test2.csv').\
    load()

In [6]:
data.show()

+----+---+--------------+------------+-------+----------+
|Name|Age|Qualifications|  Job Title |Salary |Experience|
+----+---+--------------+------------+-------+----------+
|   a| 35|           mba|Asst manager| 200000|        10|
|   b| 45|           mba|     Manager| 150000|        15|
|   c| 27|           mca|Asst manager|  55000|         4|
|   d| 36|            pg|Asst manager|  80000|         9|
|   e| 33|           mca|          TL|  65000|         5|
|   f| 32|           phd|    Director| 400000|        25|
|   g| 34|            ma|          TL|  75000|         7|
+----+---+--------------+------------+-------+----------+

In [7]:
data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Qualifications: string (nullable = true)
 |-- Job Title : string (nullable = true)
 |-- Salary : integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [15]:
data.filter(data['Salary '] <= 75000).show()

+----+---+--------------+------------+-------+----------+
|Name|Age|Qualifications|  Job Title |Salary |Experience|
+----+---+--------------+------------+-------+----------+
|   c| 27|           mca|Asst manager|  55000|         4|
|   e| 33|           mca|          TL|  65000|         5|
|   g| 34|            ma|          TL|  75000|         7|
+----+---+--------------+------------+-------+----------+

In [16]:
data.filter(data['Salary '] <= 75000).select(['Name', 'Age']).show()

+----+---+
|Name|Age|
+----+---+
|   c| 27|
|   e| 33|
|   g| 34|
+----+---+