In [1]:
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.functions import col, desc

In [4]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
data = spark.read.format('csv').\
    option('inferSchema', 'true').\
    option('header', 'true').\
    option('path', 'new_data.csv').\
    load()

In [6]:
data.show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|Keshav|        DS| 10000|
|Naveen|       IOT|  5000|
| Rahul|  Big Data|  4000|
|Keshav|  Big Data|  4000|
| Harry|        DS|  3000|
| Rahul|       IOT| 20000|
| Harry|  Big Data| 10000|
|Keshav|       IOT|  5000|
|Naveen|        DS| 10000|
|Naveen|  Big Data|  2000|
+------+----------+------+

In [14]:
data.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|Keshav|      19000|
|Naveen|      17000|
| Rahul|      24000|
| Harry|      13000|
+------+-----------+

In [10]:
data.groupBy('Department').sum().show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|       IOT|      30000|
|  Big Data|      20000|
|        DS|      23000|
+----------+-----------+

In [11]:
data.groupBy('Department').mean().show()

+----------+-----------------+
|Department|      avg(Salary)|
+----------+-----------------+
|       IOT|          10000.0|
|  Big Data|           5000.0|
|        DS|7666.666666666667|
+----------+-----------------+

In [12]:
data.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|       IOT|    3|
|  Big Data|    4|
|        DS|    3|
+----------+-----+

In [13]:
data.agg({'Salary':'Sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+