In [1]:
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.functions import col, desc

In [4]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [7]:
data = spark.read.format('csv').\
    option('inferSchema', 'true').\
    option('header', 'true').\
    option('path', 'test1.csv').\
    load()

In [8]:
data.show()

+----+----+--------------+------------+-------+----------+
|Name| Age|Qualifications|  Job Title |Salary |Experience|
+----+----+--------------+------------+-------+----------+
|   a|  35|           mba|Asst manager| 200000|        10|
|   b|  45|           mba|     Manager| 150000|        15|
|   c|  27|          null|        null|  55000|         4|
|   d|  36|            pg|        null|  80000|         9|
|   e|  33|          null|          TL|  65000|         5|
|   f|null|           phd|    Director| 400000|        25|
|   g|null|            ma|          TL|  75000|         7|
+----+----+--------------+------------+-------+----------+

In [26]:
data.filter(data['Salary '] >= 75000).show()

+----+----+--------------+------------+-------+----------+
|Name| Age|Qualifications|  Job Title |Salary |Experience|
+----+----+--------------+------------+-------+----------+
|   a|  35|           mba|Asst manager| 200000|        10|
|   b|  45|           mba|     Manager| 150000|        15|
|   d|  36|            pg|        null|  80000|         9|
|   f|null|           phd|    Director| 400000|        25|
|   g|null|            ma|          TL|  75000|         7|
+----+----+--------------+------------+-------+----------+

In [27]:
data.filter(~(data['Salary '] < 75000)).show()

+----+----+--------------+------------+-------+----------+
|Name| Age|Qualifications|  Job Title |Salary |Experience|
+----+----+--------------+------------+-------+----------+
|   a|  35|           mba|Asst manager| 200000|        10|
|   b|  45|           mba|     Manager| 150000|        15|
|   d|  36|            pg|        null|  80000|         9|
|   f|null|           phd|    Director| 400000|        25|
|   g|null|            ma|          TL|  75000|         7|
+----+----+--------------+------------+-------+----------+

In [28]:
data.summary()

DataFrame[summary: string, Name: string, Age: string, Qualifications: string, Job Title : string, Salary : string, Experience: string]

In [30]:
data.describe()

DataFrame[summary: string, Name: string, Age: string, Qualifications: string, Job Title : string, Salary : string, Experience: string]

In [33]:
data.schema

StructType([StructField('Name', StringType(), True), StructField('Age', IntegerType(), True), StructField('Qualifications', StringType(), True), StructField('Job Title ', StringType(), True), StructField('Salary ', IntegerType(), True), StructField('Experience', IntegerType(), True)])

In [37]:
data.summary().show()

+-------+----+-----------------+--------------+------------+------------------+------------------+
|summary|Name|              Age|Qualifications|  Job Title |           Salary |        Experience|
+-------+----+-----------------+--------------+------------+------------------+------------------+
|  count|   7|                5|             5|           5|                 7|                 7|
|   mean|null|             35.2|          null|        null|146428.57142857142|10.714285714285714|
| stddev|null|6.496152707564686|          null|        null| 123616.1493533607| 7.273565968956485|
|    min|   a|               27|            ma|Asst manager|             55000|                 4|
|    25%|null|               33|          null|        null|             65000|                 5|
|    50%|null|               35|          null|        null|             80000|                 9|
|    75%|null|               36|          null|        null|            200000|                15|
|    max|   g|               45|           phd|          TL|            400000|                25|
+-------+----+-----------------+--------------+------------+------------------+------------------+

In [40]:
data.summary("count", "min", "25%", "75%", "max").show()

+-------+----+---+--------------+------------+-------+----------+
|summary|Name|Age|Qualifications|  Job Title |Salary |Experience|
+-------+----+---+--------------+------------+-------+----------+
|  count|   7|  5|             5|           5|      7|         7|
|    min|   a| 27|            ma|Asst manager|  55000|         4|
|    25%|null| 33|          null|        null|  65000|         5|
|    75%|null| 36|          null|        null| 200000|        15|
|    max|   g| 45|           phd|          TL| 400000|        25|
+-------+----+---+--------------+------------+-------+----------+

In [41]:
data.describe().show()

+-------+----+-----------------+--------------+------------+------------------+------------------+
|summary|Name|              Age|Qualifications|  Job Title |           Salary |        Experience|
+-------+----+-----------------+--------------+------------+------------------+------------------+
|  count|   7|                5|             5|           5|                 7|                 7|
|   mean|null|             35.2|          null|        null|146428.57142857142|10.714285714285714|
| stddev|null|6.496152707564686|          null|        null| 123616.1493533607| 7.273565968956485|
|    min|   a|               27|            ma|Asst manager|             55000|                 4|
|    max|   g|               45|           phd|          TL|            400000|                25|
+-------+----+-----------------+--------------+------------+------------------+------------------+

In [68]:
data.describe("min", "max").show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `min` cannot be resolved. Did you mean one of the following? [`Age`, `Name`, `Experience`, `Salary `, `Job Title `].;
'Project ['min, 'max]
+- Relation [Name#69,Age#70,Qualifications#71,Job Title #72,Salary #73,Experience#74] csv

In [54]:
data.count(data['Age'] > 30).select(['Name', 'Age']).show()

TypeError: DataFrame.count() takes 1 positional argument but 2 were given

In [61]:
data.filter(data['Age'] > 30).summary('count').show()

+-------+----+---+--------------+----------+-------+----------+
|summary|Name|Age|Qualifications|Job Title |Salary |Experience|
+-------+----+---+--------------+----------+-------+----------+
|  count|   4|  4|             3|         3|      4|         4|
+-------+----+---+--------------+----------+-------+----------+

In [67]:
data.filter(data['Age'] > 30).summary('count', '50%').show()
#median

+-------+----+---+--------------+----------+-------+----------+
|summary|Name|Age|Qualifications|Job Title |Salary |Experience|
+-------+----+---+--------------+----------+-------+----------+
|  count|   4|  4|             3|         3|      4|         4|
|    50%|null| 35|          null|      null|  80000|         9|
+-------+----+---+--------------+----------+-------+----------+

In [69]:
data.filter(data['Age'] > 30).summary('mean').show()

+-------+----+-----+--------------+----------+--------+----------+
|summary|Name|  Age|Qualifications|Job Title | Salary |Experience|
+-------+----+-----+--------------+----------+--------+----------+
|   mean|null|37.25|          null|      null|123750.0|      9.75|
+-------+----+-----+--------------+----------+--------+----------+

In [79]:
data.groupBy("Age").count().orderBy("count", ascending=False).first()

Row(Age=None, count=2)